.Container {
    margin: 0 -5px ;

}

.Container:after {
    content: "";
    display: table;
    clear: both;
}

.Card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-right: 20px;
    margin-left: 20px;
}

.Column {
    float: left;
    width: 50%;
    padding: 0 20px 30px 30px;


}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}